html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*----------------------------Overall styling-------------------------*/

header {
  background: black;
  color: white;
  height: 7vh;
  padding: 2%;
}

main {
  padding: 0 10%;
}

h1 {
  font-size: 4em;
  text-align: right;
  margin: 7% 0 4% 0;
  font-family: "Saira Stencil One", cursive;
  line-height: 3.5rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-size: 1.8rem;
}

button {
  color: black;
  font-family: "Oswald", sans-serif;
  background-color: white;
  border: black solid 1px;
  font-size: 1rem;
  width: 20vw;
  padding: 1%;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
}

input,
select {
  background-color: white;
  border: black solid 1px;
  font-size: 1rem;
  padding: 1% !important;
  border-radius: 3px;
  cursor: pointer;
}
input { 
  cursor:text;
}

.SVGbutton,
.SHAPEbutton {
  align-self: flex-end;
  margin: 2% 0;
}
