/*----------------------------LAYOUT/GRID-------------------------*/
main {
  padding: 0 10%;
  display: grid;
  grid-template-areas:
    "headline headline"
    "svgCreation shapeCreation"
    "artworkCreation artworkCreation"
    "gallery gallery";
}

h1 {
  grid-area: headline;
}

.svg {
  grid-area: svgCreation;
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}

.shape {
  grid-area: shapeCreation;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.artwork-creation {
  grid-area: artworkCreation;
}

.svgs-gallery {
  grid-area: gallery;
}

.SVGbutton,
.SHAPEbutton {
  align-self: flex-end;
  margin: 2% 0;
}

/*----------------------------Logout section-------------------------*/

header {
  display: flex;
  justify-content: space-between;
}

header > * {
  align-self: center;
}

header p {
  font-size: 1.2rem;
}
header span {
  font-weight: 700;
}

header form {
  flex-basis: 20vw;
}

.logoutSubmit {
  padding: 5px;
  width: 200px;
}

.logoutSubmit:hover {
  border-color: white;
}

/*----------------------------Create svg/shape section -------------------------*/
label {
  margin: 2% 0 0 0;
}

/*----------------------------Create artwork section -------------------------*/

.artwork-creation {
  background-color: wheat;
  padding: 3%;
  margin: 2% 0;
  border-radius: 2px;
}
.interface-add-shape-to-svg {
  display: flex;
  margin-top: 2%;
  align-items: center;
}
.list-of-shapes,
.list-of-svgs {
  flex-grow: 1;
  margin: 0 2% 0 1%;
}

/*----------------------------gallery section -------------------------*/

svg {
  width: 200px;
  padding: 1rem;
  border: 1px solid black;
}

pre {
  max-width: 200px;
  white-space: pre-line;
}
.svg-wrapper {
  margin: 1rem;
}
.svgs-gallery {
  display: flex;
  flex-wrap: wrap;
}

/*----------------------------mobile view -------------------------*/

@media screen and (max-width: 768px) {
  main {
    padding: 0 2%;
    display: grid;
    grid-template-areas:
      "headline"
      "svgCreation"
      "shapeCreation"
      "artworkCreation"
      "gallery";
  }

  h1 {
    grid-area: headline;
  }

  .svg {
    grid-area: svgCreation;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
  }

  .shape {
    grid-area: shapeCreation;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }

  .artwork-creation {
    grid-area: artworkCreation;
  }

  .svgs-gallery {
    grid-area: gallery;
  }

  .SVGbutton,
  .SHAPEbutton {
    align-self: flex-end;
    margin: 2% 0;
  }
}
