/*----------------------------LAYOUT/GRID-------------------------*/
main {
  display: grid;
  grid-template-areas:
    "headline headline"
    "gallery gallery";
}

h1 {
  grid-area: headline;
}

.svgs-gallery {
  grid-area: gallery;
}

/*----------------------------LOGIN SECTION -------------------------*/

header {
  display: flex;
  justify-content: flex-end;
}
.loginForm {
  display: flex;
  justify-content: space-around;
}

.loginForm > * {
  margin: 0 1%;
  align-self: center;
}

/*----------------------------gallery section -------------------------*/

svg {
  width: 200px;
  padding: 1rem;
  border: 1px solid black;
}

pre {
  max-width: 200px;
  white-space: pre-line;
}
.svg-wrapper {
  margin: 1rem;
}
.svgs-gallery {
  display: flex;
  flex-wrap: wrap;
}

/*----------------------------mobile view -------------------------*/

@media screen and (max-width: 768px) {
  body {
    padding: 0 2%;
    display: grid;
    grid-template-areas:
      "headline"
      "svgCreation"
      "shapeCreation"
      "artworkCreation"
      "gallery";
  }

  h1 {
    grid-area: headline;
  }

  .svg {
    grid-area: svgCreation;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
  }

  .shape {
    grid-area: shapeCreation;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }

  .artwork-creation {
    grid-area: artworkCreation;
  }

  .svgs-gallery {
    grid-area: gallery;
  }

  .SVGbutton,
  .SHAPEbutton {
    align-self: flex-end;
    margin: 2% 0;
  }
}
