html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*----------------------------LAYOUT/GRID-------------------------*/
body {
  padding: 0 10%;
  display: grid;
  grid-template-areas:
    "headline headline"
    "svgCreation shapeCreation"
    "artworkCreation artworkCreation"
    "gallery gallery";
}

h1 {
  grid-area: headline;
}

.svg {
  grid-area: svgCreation;
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}

.shape {
  grid-area: shapeCreation;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.artwork-creation {
  grid-area: artworkCreation;
}

.svgs-gallery {
  grid-area: gallery;
}

.SVGbutton,
.SHAPEbutton {
  align-self: flex-end;
  margin: 2% 0;
}

/*----------------------------LAYOUT/GRID-------------------------*/
label {
  margin: 2% 0 0 0;
}
svg {
  width: 200px;
  padding: 1rem;
  border: 1px solid black;
}

pre {
  max-width: 200px;
  white-space: pre-line;
}
.svg-wrapper {
  margin: 1rem;
}
.svgs-gallery {
  display: flex;
  flex-wrap: wrap;
}
